<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminUpdate"></activity>
        <activity android:name=".AddtoCart" />
        <activity android:name=".Account" />
        <activity android:name=".checkout" />
        <activity android:name=".MyAccount" />
        <activity android:name=".Payment" />
        <activity android:name=".CashDelivery" />
        <activity android:name=".CardDelivery" />
        <activity android:name=".mycart" />
        <activity android:name=".aboutus" />
        <activity android:name=".event2" />
        <activity android:name=".productDetails" />
        <activity android:name=".showProducts" />
        <activity
            android:name=".menuAct"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventAct" />
        <activity android:name=".RegisterAct" />
        <activity android:name=".AdminContact" />
        <activity android:name=".ContactUs" />
        <activity android:name=".custom" />
        <activity android:name=".MainActivity_Oshani" />
        <activity android:name=".MainActivity_Madara" />
        <activity android:name=".MainCalendar" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>